if SHIELD_SOLO_LEFT

config ZMK_KEYBOARD_NAME
    default "Solo-keeeb"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_STUDIO
    default y

endif

if SHIELD_SOLO_LEFT || SHIELD_SOLO_RIGHT

config ZMK_SPLIT
    default y

endif
